.tile
{
    display: flex;
    align-items: flex-start;
    //align-content: flex-start;
}

.tile .icon
{
    flex: 0.5 1 auto;
    //align-self: flex-start;
}

.tile .heading
{
    flex: 2 1 auto;
    //align-self: auto;
    text-align: left;
}

.tile .right
{
    //flex-grow: 1;
    flex: 0.5 1 auto;
}

.tile .temps
{
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.tile .temps .min
{
    flex: 0 0 auto;
    padding-right: 10px;
}

.tile .temps .max
{
    flex: 0 0 auto;
}
